<%- include('header') -%>   
    <div class="container status bg-light">
        <img style="display: inline; float: left; margin: 0 10px;"src="#" alt="dp"> <p style="font-weight: bold; position:inline;"> Hazrat ali</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae veniam, cum nostrum labore eius delectus tempore in facilis aut, fuga
             maxime consectetur obcaecati explicabo. Repudiandae voluptate temporibus at id accusamus tempore eos dolores, alias culpa magnam nam odio
              distinctio, ipsum nisi quasi autem veniam ut doloribu and I know what I have to do I gotta keep breathing because tomorow the sun will rise
              and who knows what the time could bring totam? Debitis, cumque.</p>
        <div class="row text-center">
            <div class="col"><button class="btn btn-light"> 33 Likes</button></div>
            <div class="col"><button class="btn btn-light"> 5 Comments</button></div>
            <div class="col"><button class="btn btn-light">Share</button></div>
            </div>
        </div>
    </div>
<%- include('footer') -%>